.item-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    color: #333;
    background-color: #f9f9f9;
  }
  
  .image-box-detail {
    margin-right: 20px;
  }
  
  .image-detail {
    max-width: 300px;
    border-radius: 8px;
  }
  
  .info-detail {
    max-width: 400px;
  }
  
  .title-detail {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .description-detail {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .price-detail {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .team-detail {
    font-size: 18px;
    color: #888;
  }
  