.item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: rgb(254, 254, 254);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
.item-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.item-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.quantity {
  font-size: 1.5rem;
  font-weight: bold;
}

.quantity-button {
  padding: 10px 15px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-button:hover {
  background-color: #0056b3;
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #218838;
}
